html,
body {
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}

button {
  width: 60px;
  height: 40px;
}

.container {
  width: 600px;
  height: 400px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
