/* Round */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.round-container {
    width: 70%;
    max-height: 80%;
    background-color: #94D2BD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Player Grids */

.player-grids-container {
    background-color: #005F73;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

.player-info-container{
    width: 40%;
    border: 2px solid black;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #fff;
}

h2, h3 {
    color: #001219;
}

span {
    color: #E9D8A6;
    margin: 0 7% 0 0;
}

.up-button {
    background-color: rgb(127, 229, 127);
}

.down-button {
    background-color: rgb(247, 81, 81);
}

.bet, .lose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.num-display {
    display: flex;
    flex-direction: row;
}

.save-button {
    width: 80px;
    height: 40px;
    background-color: #94D2BD;
    font-family: 'Times New Roman', Times, serif;
}